/* Main CSS */
* {
    font-size: 30px;
    font-family: "Bebas Neue";
    .mySlides {display: none};
}

@font-face {
    font-family: DeepShadow;
    src: url("../Fonts/Deep Shadow Over.ttf");
}
@font-face {
    font-family: Roboto;
    src: url("../Fonts/Roboto.ttf");
}
@font-face {
    font-family: OpenSans;
    src: url("../Fonts/OpenSans-VariableFont.ttf");
}

html {
    scroll-behavior: smooth;
}

header {
    background-image: url("../IMG/Rectangle2.png"); 
    background-color: #000000;
    display: flex;
    justify-content: space-between;
    align-items: top;
    margin: auto;
    object-fit:contain;
    width: 100%;
    height: 12vh;
}

.logo {
    height: 60%;
    width: auto;
}

.nav-bar {
    display: flex;
    font-family: 'Bebas Neue', sans-serif;
    font-size: 5vh;
}

nav li {
    margin-right: 10vw;
}

nav a {
    text-decoration: none;
    color: white;
}

nav ul {
    color: #F5EDED;
    list-style: none;
    padding: 0;
    margin-left: 0;
    display: flex;
}

ul{
    list-style-type: none;
    text-align: left;
    display: block;
    margin: 0 auto 0 auto;
}

.brand {
    font-size: 3vh;
    font-family: DeepShadow;
    cursor: pointer;
}

.titrepage {
    font-size: 5vh;
    font-family: "Bebas Neue";
    margin-left: 4%;
    position: relative;
    top: 3vh;

}

.generaltext {
    font-family: "Open Sans";
    font-size: 5vh;
}

.opt {
    height: 70%;
    width: auto;
    margin-left: -13vw;
    right: -55vw;
    top: 0.7vh;
    display: block;
    position: relative;
}

.opt:hover {
    transform: scale(1.1,1.1);
    transition: transform 1s;
}

.nav-but {
    white-space: nowrap;
    font-size: 3.3vh;
}

.nav-but:hover {
    text-decoration: underline;
    color: #094fac;
}

/* body */

body {
    margin: 0;
    padding: 0;
    background-color: #F5EDED;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

    /* part 1 */

.part1 {
    background-image: url("../IMG/image 35.png");
    margin: 0;
    padding: 0;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    border-bottom: solid black 0.7vh;
}

.slider {
    padding: 10vh 0 5vh;
    width: 1000px;
    height: 600px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0px;
    text-align: center;
    overflow: hidden;
}


.slide {
    float: left;
    margin: 0px;
    padding: 0px;
    position: relative;
    width: 1000px;
    height: 600px;
}

.image-container {
    width: 3000px;
    height: 600px;
    clear: both;
    position: relative;
    transition: transform 0.6s ease-in-out; /* Use transform for smoother sliding */
}

.buttons {
    position: relative;
    top: -50px;
    right: -275px;
}

.buttons a {
    display: inline-block;
    height: 5px;
    width: 110px;
    background-color: #000000;
    display: inline-block;
    transition: background-color 0.6s ease;
    cursor: pointer;

}

.buttons a.active {
    background-color: #F5EDED;
}

.buttons a:hover {
    background-color: #F5EDED;
}


    /* part 2 */

.part2 {
    background-image: url("../IMG/image 36.png");
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    text-align: center;
    margin: 0;
    padding: 2vh 0 5vh 0;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.block {
    width: 40vh;
    height: 30vh;
    background: #094FAC;
    display: flex;
    margin: 0 auto 0 auto;
    float: left;
    transform: scale(1,1);
    transition: transform 1s;
}

.block:hover {
    transform: scale(1.1,1.1);
    transition: transform 1s;
}

.block img {
    height: 57%;
    width: auto;
    display: block;
    margin: auto ;
}

.block a:active:after {
    color: #F5EDED;
}

.compare {
    position: relative;
    width: 0;
    height: 0.1vh;
    display: flex;
    white-space: nowrap;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #F5EDED;
    text-decoration: none;
    font-size: 2.7vh;
    left: 24vh;
    top: 2vh;
}

.ref {
    position: relative;
    display: flex;
    white-space: nowrap;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: white;
    text-decoration: none;
    font-size: 2.7vh;
    width: 0;
    height: 0;
    left: -30vh;
    top: 24.5vh;
    -webkit-transition: left 2s;
    -moz-transition: left 2s;
    -o-transition: left 2s;
    transition: left 2s;
}

.compare:hover {
    text-decoration: underline;
}

.ref:hover {
    text-decoration: underline;
}

    /* Galerie*/

.part3 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    text-align: center;
    margin: 0;
    padding: 2vh 0 5vh 0;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.transblock {

    height: 30vh;
    background: #ffffff00;
    display: flex;
    margin: 0 auto 0 auto;
    float: left;
}

/*Footer */

.footer {
    text-align: center;
    padding-bottom: 5vh;
    display: flex;
    background-color: #c4c4c4;
    color: #000000;
    bottom: 0;
    width: 100%;
    font-size: 150%;
}

footer ul li a {
    font-family: "Roboto";
    text-decoration: none;
    color: #000000;
    font-size: 60%;
}

footer ul li a:hover {
    text-decoration: underline;
}

footer ul h4 {
    font-family: "Roboto";
    font-size: 80%;
}

.imgFooter{
    height: 15vh;
    width: auto;
    padding-top: 3vh;
}

.reseauLi{
    margin-left: 1vw;
    margin-right: 1vw;
}

.reseaux{
    display: flex;
}

.row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding: 0 4px;
  }

.column {
    -ms-flex: 33%;
    flex: 33%;
    max-width: 100%;
    padding: 0 4px;
}

.column img {
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
}

h1 {
    font-family: "Bebas Neue";
    font-size: 5vh;
    text-align: left;
    margin-top: 5vh;
    margin-left: 5vh;
}

/* Personaliser */

.grideimg {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2vh;
    justify-items: center;
    align-items: center;
    padding: 2vh 0 5vh 0;
}

.model {
    text-align: center;
    padding-top: -10vh;
}

.model img {
    height: 57%;
    width: auto;
    display: block;
    margin: auto ;
}

.model p {
    margin-top: 1vh;
    margin-bottom: 1vh;
    font-size: 2vh;
    font-family: OpenSans;
}


/* Galerie */
.grideGalerie {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2vh;
    justify-items: center;
    align-items: baseline ;
    padding: 2vh 0 5vh 0;
    text-align: center;
    margin-bottom: auto;

}

.grideGalerie p {
    margin: 0.5vh 0;
    font-family: "Open Sans";
    font-size: 24px;
}

.wrapper > div {
    padding: 2em;
    font-family: "Open Sans";
    font-size: 30px;
    margin-bottom: auto;

  }

  .wrapper > div > div {
    padding: 1em;
    font-family: "Open Sans";
    padding: 0.4em;
  }

.avis {
    border: 2px solid #000000;
    border-radius: 1px;
    padding: 1em;
}
